<h1 class="animated fadeIn fast">Sobre comics</h1>
<hr>
<p class="animated fadeIn ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam natus assumenda voluptatum facere. Explicabo quas
  quos atque quod quibusdam ea voluptate voluptas aspernatur nemo ex. Non harum, dicta doloribus dolorum facere
  praesentium, delectus minus, ratione assumenda quod tenetur sint? Perferendis ullam facere, deserunt dolores,
  doloremque asperiores quia debitis illo quibusdam distinctio dolore est voluptate magni non porro facilis aperiam
  fugiat. Nihil culpa rerum debitis minima pariatur. Non delectus tempore exercitationem illum eum, quisquam expedita
  quaerat minus aperiam. Non officiis odit fugiat? Tempora, molestias neque. Labore, blanditiis fuga, dignissimos unde
  error voluptatibus sequi repellendus, quis ab debitis voluptatum beatae corrupti laborum cupiditate atque libero
  impedit tenetur eum enim vero officia veritatis eos ducimus. Sapiente, voluptatum possimus? Harum exercitationem
  velit, a quaerat odio repudiandae provident dolorem recusandae accusantium? Quidem necessitatibus quam tempore
  consectetur, illum excepturi iure amet! Provident ipsum, doloribus sed quod reprehenderit natus enim adipisci nam
  expedita numquam, delectus quis id pariatur laudantium quisquam eveniet, vero aliquid tempora accusamus non qui ab.
  Nemo consequatur explicabo nihil error vel itaque voluptatem ab nostrum inventore rerum quasi nulla id laboriosam,
  veritatis eveniet incidunt hic sint doloribus provident cupiditate voluptas! Eveniet repellat tenetur atque cumque
  placeat magnam. Vel, recusandae libero ea expedita eum sunt!</p>
